@import "tailwindcss";


.login-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../assets/map.jpg") no-repeat center center;
  background-size: cover;
}
